name: Build App

on:
    push:
        branches:
        - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - name: build-push
          uses: docker/build-push-action@v1
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
            registry: docker.io
            repository: SecureContainProtect/cd
            tag_with_sha: true

    pmd:
        runs-on: ubuntu-latest
        steps:
          - uses: sfdx-actions/setup-pmd@v1
          - name: run-pmd
            run: pmd -d ./force-app/main/default/classes -R category/apex/design.xml -f text

    sonarcloud:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v3
          with:
            # Disabling shallow clone is recommended for improving relevancy of reporting
            fetch-depth: 0
        - name: SonarCloud Scan
          uses: sonarsource/sonarcloud-github-action@master
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}